.hero-banner {
  align-items: center;
  display: flex;
  position: relative;
  justify-content: center;
}

.hero-banner__title {
  color: red;
  font-size: 45px;
  font-weight: 700;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
}

.hero-banner__stroked-title {
  color: transparent;
  -webkit-text-stroke: 2px red;
}

.hero-banner__image {
  height: 150px;
  width: 200px;
  clip-path: polygon(75% 0%, 75% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%);
  transition: all ease-in 0.2s;
}
.hero-banner:hover .hero-banner__image {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  background-color: red;
}
@media (max-width: 600px) {
  .hero-banner__image {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    transition: all ease-in 0.2s;
  }
}
