@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
@layer components {
  .maxcontainer {
    max-width: 1500px;
    margin: 0 auto;
  }
}
